@font-face {
    font-family: 'Georgia';
    src: url('https://nomail.com.ua/files/eot/bc4233e2e797e27e74fc7148b45c7f5a.eot?#iefix') format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/bc4233e2e797e27e74fc7148b45c7f5a.woff') format('woff'),
    url('https://nomail.com.ua/files/woff2/bc4233e2e797e27e74fc7148b45c7f5a.woff2') format('woff2');
}

@font-face {
    font-family: 'Pradell';
    src: url('../fonts/pradell-webfont.woff2') format('woff2'),
    url('../fonts/pradell-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'PT Serif', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Pradell, serif;
}

h3::before {
    content: "# ";

}
h3 {
    font-size: 1.5rem;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: -10px;
}

a {
    color: inherit;
}

p {
    font-family: Georgia, serif;
    margin-bottom: 15px;
    font-size: 1.25rem;
}

.link {
    color: cornflowerblue;
}

.article-title {
    margin-bottom: -15px;
}

.img-center {
    display: block;
    margin: 15px auto 25px;
}

.text-block {
    width: 250px;
    margin: 50px;
}

.foot-er {
    display: flex;
    justify-content: space-between;
}

#go-top {
    position: fixed;
    bottom: 25px;
    right: 70px;
    text-align: center;
    cursor:pointer;
    display:none;
}


